<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>EDIT THIS username:<%= data.username  %></h2>
    <form method="post" action="/user/<%= data.id %>?_method=PATCH">
        <textarea name="username" ><%= data.username %></textarea>
        <input name="password" type="password" placeholder="enter password"/>
        <button>submit</button>
    </form>
    
</body>
</html>